.container {
  display: flex;
  height: auto;

}
.wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items:center;
}


@media 
only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){

    .wrapper {/* including constant fallback for ios 11.2 prior */
      padding-left: constant(safe-area-inset-left);
      padding-left: env(safe-area-inset-left);
      padding-right: constant(safe-area-inset-right);
      padding-right: env(safe-area-inset-right);
      padding-bottom: constant(safe-area-inset-bottom);
      padding-bottom: env(safe-area-inset-bottom);
      padding-top: constant(safe-area-inset-top);
      padding-top: env(safe-area-inset-top);
    }
}

.header {
  min-height:48px;
  width:100%;
	z-index: -1;
}

.content {
  flex: 1;
  width:100%;
  -webkit-overflow-scrolling:touch;
  overflow-y: auto;
  overflow-x: hidden;
}

.footer {
  min-height:48px;
  width:100%;
	z-index: -1;
}

.modals {
  height:0px;
  width:0px;
}

@supports (grid-area: 1/1/1/1) {
	.layout-degraded {
		display:none;
	}
  .layout-grid {
  }
}
@supports not (grid-area: 1/1/1/1) {
	.layout-grid {
		display:flex;
		flex-direction:column;
	}
	.layout-optimal {
		display:none;
	}
	.layout-degraded {
		display: flex;
		flex:1;
		vertical-align: top;
	}
}
.layout-both {
	display: flex;
	flex: 1;
}
.layout-grid-item {
	display: flex;
	flex: 1;
}

