@supports (grid-area: 1/1/1/1) {
	.layout-degraded {
		display:none;
	}
}
@supports not (grid-area: 1/1/1/1) {
	.layout-grid {
		display:flex;
		flex-direction:column;
	}
	.layout-optimal {
		display:none;
	}
	.layout-degraded {
		display: flex;
		flex:1;
		vertical-align: top;
	}
}
.layout-both {
	display: flex;
	flex: 1;
	vertical-align: top;
}
.layout-grid-item {
	display: flex;
	flex: 1;
	vertical-align: top;
}

.layout-name {
	font-family: 'Teko', sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	margin-left: 15px;
}

.layout-info {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	margin-left: 35px;
	margin-top: 10px;
	margin-bottom: 30px;
	line-height: 120%;
}

lumavate-nav-bar-item div {
  flex-direction: column;
}

a {
	color: #6ba3ff;
}
.layout-nav-tile {
	position:relative;
	width:100%;
	height:100%;
}
.layout-video-frame {
	height:100%;
	width:100%;
}
.layout-fill {
	background-position:center center;
	background-size: cover;
	background-repeat:no-repeat;
	background-clip: content-box;
}
.layout-fit {
	background-position:center center;
	background-size: contain;
	background-repeat:no-repeat;
	background-clip: content-box;
}
.layout-stretch {
	background-size: 100% 100%;
	background-clip: content-box;
}
.layout-repeat {
	background-position:center center;
	background-repeat:repeat;
	background-clip: content-box;
}
