.starting {
	padding-top: 75px;
	padding-bottom: 32px;
}

.name {
	font-family: 'Teko', sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	margin-left: 15px;
}

.info {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	margin-left: 35px;
	margin-top: 10px;
	margin-bottom: 30px;
	line-height: 120%;
}

a {
	color: #6ba3ff;
}
#tiles {
	height:100%;
	width:100%;
	display:grid;
	grid-template-columns: {{.data.GridTemplateColumns}};
	grid-template-rows: {{.data.GridTemplateRows}};
	grid-gap: {{ .data.Padding }}px;
}
.nav-tile {
	position:absolute;
	width:100%;
	height:100%;
}
.video-frame {
height:100%;
width:100%;
}
.fill {
	background-position:center;
	background-size: cover;
}
.fit {
	background-position:center;
	background-size: contain;
}
.stretch {
	background-size: 100% 100%;
}
.repeat {
	background-position:center;
	background-repeat:repeat;
}
